$border_grey: #ccc;

.appointments {
    width: 220px;
    margin-left: 40px;

    .list {
      margin: 8px 0;
      display: flex;
      justify-content: space-between;

    span {
      color: $border_grey;
      margin-right: 5px;
    }

    .delete {
      color: #fff;
      background-color: red;
    }

    .update {
      color: #fff;
      background-color: green;
      margin-left: 4px;
    }
  }
}
